<a href="https://colab.research.google.com/github/Ahmad-HassanInsights/Python-1/blob/master/Espmcricinfo_Data_Scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

url='https://www.espncricinfo.com/records/most-wickets-in-career-93276'

response=requests.get(url)
soup=BeautifulSoup(response.text,'html.parser')


table= soup.find('table')

data=pd.read_html(str(table))

data.to_csv('most_wickets.csv')

print(data)

[                    Player       Span  Mat  Inns  Balls   Overs  Mdns   Runs  \
0   M Muralidaran (ICC/SL)  1992-2010  133   230  44039  7339.5  1794  18180
1           SK Warne (AUS)  1992-2007  145   273  40705  6784.1  1761  17995
2        JM Anderson (ENG)  2003-2024  188   350  40037  6672.5  1730  18627
3           A Kumble (IND)  1990-2008  132   236  40850  6808.2  1576  18355
4          SCJ Broad (ENG)  2007-2023  167   309  33698  5616.2  1304  16719
..                     ...        ...  ...   ...    ...     ...   ...    ...
78            MM Ali (ENG)  2014-2023   68   119  12610  2101.4   293   7612
79         BA Stokes (ENG)  2013-2024  105   152  11795  1965.5   350   6506
80        AME Roberts (WI)  1974-1983   47    90  11135       -   382   5174
81           JA Snow (ENG)  1965-1976   49    93  12021       -   415   5387
82        JR Thomson (AUS)  1972-1985   51    90  10535       -   301   5601

    Wkts    BBI    Ave  Econ     SR   4   5
0    800   9/51  22.72  2.47  55.04  45  67
1    708   8/71  25.41  2.65  57.49  48  37
2    704   7/42  26.45  2.79  56.87  32  32
3    619  10/74  29.65  2.69  65.99  31  35
4    604   8/15  27.68  2.97  55.79  28  20
..   ...    ...    ...   ...    ...  ..  ..
78   204   6/53  37.31  3.62  61.81  13   5
79   203   6/22  32.04  3.30  58.10   8   4
80   202   7/54  25.61  2.78  55.12   8  11
81   202   7/40  26.66  2.68  59.50  12   8
82   200   6/46  28.00  3.18  52.67  16   8

[83 rows x 15 columns]]

<ipython-input-5-3de9c0a69ba7>:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data=pd.read_html(str(table))